body {
  background-color: #3d3d3d;
  color: white;
}

nav {
  background-color: #0079d6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

label {
  padding-top: 10px;
}

h1 {
  padding: 20px 30px;
}

span {
  color: black;
}

.results {
  padding: 15px 45px;
  margin-bottom: 15px;
  background-color: #55b9f0;
  border-radius: 5px;
}

.blue {
  margin-top: 15px;
}

.green {
    color: white;
    background-color: #00c652;
    margin-bottom: 15px;
  }
